<div class="col-md-3 sidebar">
  <h2>Dashboard</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/products">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Usuarios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Configuración</a>
    </li>
  </ul>
  <li class="nav-item"><a class="nav-link" routerLink="/" *ngIf="isLogged" (click)="logOut()"><i class="fa fa-sign-out"></i> Salir</a></li>
</div>
